<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>es6基础</title>
    <!--index样式-->
    <link rel="stylesheet" href="../../css/index/index.css">
    <!--bootstarp架构-->
    <link rel="stylesheet" href="../../css/bootstarp/bootstrap.css">
    <!--对于使用es6写法有多种转义方式，这个是其中一种，性能最差，通过线上文件执行转义，但是适合简单的开发测试应用-->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="../../js/common/common.js"></script>
</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">前端基础学习课件</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="../../index.html">首页基础知识</a></li>
                <li><a href="../css/index.html">深入html+css</a></li>
                <li><a href="../javascript/index.html">js深入</a></li>
                <li><a href="../structure/index.html">前端数据结构</a></li>
                <li class="active"><a href="../es/index.html">es6基础</a></li>
                <li><a href="../echarts/index.html">echarts测试</a></li>
                <li><a href="../d3Test/index.html">d3.js</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h2>es6基础和我在项目中总结的常用注意</h2>
        <p>
            下面介绍的都不是基础，如果想看基础，推荐文档：<a href="https://es6.ruanyifeng.com/#docs/set-map">https://es6.ruanyifeng.com/#docs/set-map</a>
        </p>
        <p>
            这里介绍的都是es6中我觉得作用比较大的注意点，前端结构的常用以及主要知识点，相当于归纳总结
        </p>
    </div>
    <div>
        <div class="page-header">
            <h3>es6</h3>
        </div>
        <div class="well">
            <p>
                有关es6的，这个最好在在你对javascript有了一定的深入了解之后，再来学习es6会好一些，不然你也只是一脸闷逼，
                这个我在后期会进行总结和归纳，下面我先列一些需要总结归纳的点
            </p>
            <ol>
                <li>箭头函数</li>
                <li class="red">有关es6异步处理(重点和难点)：promise，async函数等</li>
                <li>set</li>
                <li>... 符号运算</li>
                <li>在具体项目结构中，可以使用到的es6</li>
                <li class="red">重点：javascript的异步编程机制</li>
            </ol>
        </div>
    </div>

    <div>
        <div class="page-header">
            <h3>箭头函数</h3>
        </div>
        <div class="well">
            <p>
                首先先来撸清楚箭头函数和普通函数写法上的区别
            </p>
            <pre>
//无参数
let fn = function(){
    return 'helloWorld';
}
//简写为：
let fn = ()=>{//但是没有参数时，括号不可以省略
    return 'helloWorld';
}
//根据规则二，简写为：
let fn = ()=>'helloWorld';



//一个参数
let fn = function(a){
    return a;
}
//简写为：
let fn = (a)=>{
    return a;
}
//根据规则一，还可以简写为：
let fn = a=>{
    return a;
}
//根据规则二，还可以简写为：
let fn = a=>a;



//多个参数
let fn = function(a,b){
    return a+b;
}
//简写为：
let fn = (a,b)=>{//多于一个参数，圆括号不可省略
    return a+b;
}
//根据规则二，还可以简写为：
let fn = (a,b)=>a+b;
            </pre>
            <p>Promise 新建后就会立即执行。</p>
            <pre>
let promise = new Promise(function(resolve, reject) {
  console.log('Promise');
  resolve();
});

promise.then(function() {
  console.log('resolved.');
});

console.log('Hi!');

// Promise
// Hi!
// resolved
            </pre>
        </div>
    </div>

    <div>
        <div class="page-header">
            <h3>Promise 对象</h3>
        </div>
        <div class="well">
            <p class="red">
                首先：对于异步处理的最多的就是接口，不过现在，接口的情况大部分都是通过封装axios来解决了，这样也比较快，
                但是如果说在非接口的js函数调用的时候存在异步问题，那么，es6中的这类语法就是最好的解决方法
            </p>
            <p>
                所谓Promise，简单说就是一个容器，里面保存着某个未来才会结束的事件（通常是一个异步操作）的结果。从语法上说，Promise 是一个对象，从它可以获取异步操作的消息。Promise 提供统一的
                API，各种异步操作都可以用同样的方法进行处理。
            </p>
            <pre>
const promise = new Promise(function(resolve, reject) {
  // ... some code

  if (/* 异步操作成功 */){
    resolve(value);
  } else {
    reject(error);
  }
});
            </pre>
            <p class="red">
                Promise实例生成以后，可以用then方法分别指定resolved状态和rejected状态的回调函数。
                感觉有关平时使用axios的then使用机制就是类似这样的
            </p>
            <p>
                resolve函数的作用是，将Promise对象的状态从“未完成”变为“成功”（即从 pending 变为
                resolved），在异步操作成功时调用，并将异步操作的结果，作为参数传递出去；reject函数的作用是，将Promise对象的状态从“未完成”变为“失败”（即从 pending 变为
                rejected），在异步操作失败时调用，并将异步操作报出的错误，作为参数传递出去。
            </p>
            <pre>
promise.then(function(value) {
  // success
}, function(error) {
  // failure
});
            </pre>
            <pre>
//测试es6中promise对象
let testPromise = function () {
    function timeout(ms) {
        return new Promise((resolve, reject) => {
            setTimeout(resolve, ms , '异步结束')
        })
    }

    timeout(3000).then(value => {
        document.getElementById('testPromise').innerText = '3秒后得到内容：' + value
    })
};
            </pre>
            <div>执行情况：<span id="testPromise"></span></div>
            <p>下面是对执行异步情况的一个反馈：创建的promise会被立即执行，然后成功之后，才是执行异步</p>
            <pre>
let promise = new Promise(function(resolve, reject) {
  console.log('Promise');
  resolve();
});

promise.then(function() {
  console.log('resolved.');
});

console.log('Hi!');

// Promise
// Hi!
// resolved
            </pre>
            <p>
                测试promise中resolve其他promise的情况：注意：这里p2的resolve能否回调执行出来，取决于p1的resolve什么时候出来
            </p>
            <p class="red">
                那也可以理解为，p2的回调的状态，被p1的状态取代和决定
            </p>
            <pre>
const p1 = new Promise(function (resolve, reject) {
    console.log('这里是p1');
    resolve();
});

const p2 = new Promise(function (resolve, reject) {
    console.log('这里是p2');
    resolve(p1);
});

p2.then(() => {
    console.log('这里是p2已经执行返回了')
})
//这里是p1
//这里是p2
//这里是p2已经执行返回了
            </pre>

            <div class="marginTop">
                <pre>
promise
.then(result => {···})      //then方法的第一个参数是resolved状态的回调函数，第二个参数（可选）是rejected状态的回调函数
.catch(error => {···})      //Promise.prototype.catch()方法是.then(null, rejection)或.then(undefined, rejection)的别名，用于指定发生错误时的回调函数。
.finally(() => {···});      //finally()方法用于指定不管 Promise 对象最后状态如何，都会执行的操作。
                </pre>
                <p class="red">
                    finally方法的回调函数不接受任何参数，所以我们不知道是执行成功还是失败，但是他能
                    确保在执行之后，返回执行的情况
                </p>
            </div>

            <div class="marginTop">
                <h4>
                    Promise.all()
                </h4>
                <p>
                    Promise.all()方法用于将多个 Promise 实例，包装成一个新的 Promise 实例。
                </p>
            </div>


            <div class="marginTop">
                <h3>对于promise我个人的总结如下</h3>
                <ol class="red">
                    <li>promise对象创建之后立即执行</li>
                    <li>promise通过resolve和reject来回调告诉执行情况</li>
                    <li>回调函数可以通过then()方法来处理</li>
                </ol>
            </div>
        </div>
    </div>

    <div>
        <div class="page-header">
            <h3>Generator (生成器)</h3>
        </div>
        <div class="well">
            <p>
                Generator 函数是 ES6 提供的一种异步编程解决方案
            </p>
            <p>
                Generator 函数有多种理解角度。语法上，首先可以把它理解成，Generator 函数是一个状态机，封装了多个内部状态。
                <br>
                执行 Generator 函数会返回一个遍历器对象，也就是说，Generator 函数除了状态机，还是一个遍历器对象生成函数。返回的遍历器对象，可以依次遍历 Generator 函数内部的每一个状态。
            </p>
            <pre>
function * helloWorldGenerator() {       //Generator函数的写法使用*代替，这个就是一个非常简单的Generator函数
  yield 'hello';
  yield 'world';                        //yield表达式是暂停执行的标记，而next方法可以恢复执行
  return 'ending';
}
var hw = helloWorldGenerator();         //函数有三个状态：hello，world 和 return 语句
            </pre>
            <p class="marginTop">下面是一个简单的使用</p>
            <pre>
function * gen(x) {
    let y = yield x + 2;
    return y
}

let g = gen(1);
g.next() // { value: 3, done: false }  done：flase标识里面的遍历还没有完成
g.next() // { value: undefined, done: true }    done：true表示遍历已经完成
            </pre>

            <p class="marginTop">
                异步任务的封装
            </p>
            <pre>
//这里封装了一个gen方法调用接口
var fetch = require('node-fetch');
function* gen(){
  var url = 'https://api.github.com/users/github';      //这个应该是通过github写的一个线上的函数
  var result = yield fetch(url);
  console.log(result.bio);
}


//执行接口调用
var g = gen();
var result = g.next();
result.value.then(function(data){
  return data.json();
}).then(function(data){
  g.next(data);
});
            </pre>

            <p class="marginTop">比如依次读取两个文件</p>
            <pre>
const fs = require('fs');
const readFile = function (fileName) {
    return new Promise(function (resolve, reject) {
        fs.readFile(fileName, function (error, data) {
            if (error) return reject(error);
            resolve(data);
        });
    })
};
const gen = function * () {
    const f1 = yield readFile('/etc/fstab');
    const f2 = yield readFile('/etc/shells');
    console.log(f1.toString());
    console.log(f2.toString());
};
gen.next()          //先调用第一个
gen.next()          //调用第二个
            </pre>
        </div>
    </div>

    <!--async await异步-->
    <div>
        <div class="page-header">
            <h3>async 函数</h3>
        </div>
        <div class="well">
            <p>
                对于async的函数就更加便于理解，通过async执行，await等待
            </p>
            <p>
                <span class="red">async函数返回一个 Promise 对象，可以使用then方法添加回调函数</span>。
                当函数执行的时候，一旦遇到await就会先返回，等到异步操作完成，再接着执行函数体内后面的语句。
            </p>
            <pre>
async function getStockPriceByName(name) {
  const symbol = await getStockSymbol(name);
  const stockPrice = await getStockPrice(symbol);
  return stockPrice;
}

getStockPriceByName('goog').then(function (result) {
  console.log(result);
});
            </pre>
            <p class="marginTop">案例</p>
            <pre>
//测试async
function timeout(ms) {
    return new Promise((resolve, reject) => {
        console.log('先执行这个');       //先执行
        setTimeout(resolve, ms);        //执行完毕resolve返回
    })
}

async function asyncPrint(value, ms) {
    await timeout(ms);      //等待timeout方法执行完毕
    console.log(value);
}

asyncPrint('等待执行', 3000);
            </pre>
            <p class="marginTop red">async函数的语法规则总体上比较简单，难点是错误处理机制。</p>
            <pre>
async function f() {                //这里async相当于是返回一个promise对象，可以通过then方法获取调用
  return 'hello world';
}
f().then(v => console.log(v))       //只有等async中执行结束，才会执行then方法 "hello world"

async function f() {
  throw new Error('出错了');
}
f().then(
  v => console.log(v),
  e => console.log(e)
)       // Error: 出错了
            </pre>
            <p class="marginTop red">async和try catch的使用</p>
            <p>通过try中执行await的异步，如果出现错误，通过catch返回错误执行或者其他</p>
            <pre>
async function main() {
  try {
    const val1 = await firstStep();                 //如果有多个await命令，可以统一放在try...catch结构中。
    const val2 = await secondStep(val1);
    const val3 = await thirdStep(val1, val2);
    console.log('Final: ', val3);
  }
  catch (err) {
    console.error(err);
  }
}
            </pre>

        </div>
    </div>

    <!--class函数的基本知识-->
    <div>
        <div class="page-header">
            <h3>Class 的基本语法</h3>
        </div>
        <div class="well">
            <p>
                对于class的用法，这个在es6中是一个非常常见的用法，在目前的react中，
                通过class的方式继承与创建也是最常用的方法
            </p>
            <p>
                如果不使用es6的class，是这样定义修改方法中的情况的
            </p>
            <pre>
function Point(x, y) {
    this.x = x;
    this.y = y;
}
Point.prototype.toString = function () {        //通过prototype方式去修改方法内部
    return '(' + this.x + ', ' + this.y + ')';
};
let p = new Point(1, 2);
console.log(p.toString());      //输出(1,2)
            </pre>
            <p>如果通过class可以这样转化</p>
            <pre>
class Point {
    constructor(x, y) {         //constructor 属性返回对创建此对象的数组函数的引用。
        this.x = x;             //this关键字则代表实例对象
        this.y = y;
    }
    toString() {
        return '(' + this.x + ', ' + this.y + ')';
    }
}
let p = new Point(1,2);
console.log(p.toString());
            </pre>
            <p class="marginTop">取值函数（getter）和存值函数（setter）</p>
            <pre>
class MyClass {
    constructor() {
    }
    get prop() {
        return 'getter';
    }
    set prop(value) {
        console.log('setter: '+value);
    }
}
let inst = new MyClass();
inst.prop = 123;// setter: 123
console.log(inst.prop);//getter
            </pre>
            <P CLASS="marginTop red">
                静态方法
            </P>
            <p>
                类相当于实例的原型，所有在类中定义的方法，都会被实例继承。如果在一个方法前，加上 <span class="red">static</span>
                关键字，<span class="red">就表示该方法不会被实例继承，而是直接通过类来调用，这就称为“静态方法”</span>
            </p>
            <p>
                简单来说，静态方法就是将其变成了一个类似不是方法的东西，
                <span class="red">只能在内部使用，或者父类的可以被子类继承，但是无法通过new直接继承</span>
            </p>
            <pre>
//测试class的情况
class Foo {
    static classMethod() {
        console.log('执行classMethod')
    }
    test() {
        this.classMethod;               //执行classMethod
        console.log('执行test');
    }
}

Foo.classMethod(); // '执行classMethod'
var foo = new Foo();
foo.test();        //执行test
foo.classMethod();//报错  // TypeError: foo.classMethod is not a function
            </pre>

            <p class="marginTop red">有关class中this的指向问题</p>
            <p>有关js的指向方面，在之前javascript中有比较详细的介绍，但是，在es6中，this的指向实际上也存在问题，例如在class中this指向</p>
            <pre>
class Logger {
    printName(name = 'there') {
        this.print(`Hello ${name}`);
    }
    print(text) {
        console.log(text);
    }
}
const logger = new Logger();
logger.printName();             //Hello there
const { print, printName } = logger;       //方法提取出来单独使用
print(666);
printName();
//但是，如果将这个方法提取出来单独使用，this会指向该方法运行时所在的环境
//（由于 class 内部是严格模式，所以 this 实际指向的是undefined），从而导致找不到print方法而报错。
            </pre>
            <p class="red">那么对于上面的this的指向有两个办法</p>
            <p>1、经常使用的bind(this)，这个在react中经常使用</p>
            <p>2、使用箭头函数</p>
            <pre>
//1.通过bind(this)解决
class Logger {
    constructor() {     //是一种用于创建和初始化class创建的对象的特殊方法
        this.printName = this.printName.bind(this);     //通过bind将这个方法的this指向当前的logger这个this
    }
}
            </pre>
            <p>我们知道箭头函数中的this总是指向定义时所在的对象</p>
        </div>
    </div>

    <!--class函数继承-->
    <div>
        <div class="page-header">
            <h3 class="red">class函数继承</h3>
        </div>
        <div class="well">
            <p>对于es6来说，class的extends方法通过继承来实现具体操作</p>
            <pre>
class Point {
    constructor() {
        this.x  = 6;
        this.y = 60;
    }
}
class ColorPoint extends Point {
    constructor(x, y) {
        super(x, y)     //super，获取  // 调用父类的constructor(x, y)
    }
    toString() {
        console.log(this.x);
    }
}
let ax = new ColorPoint();
ax.toString();
            </pre>
            <p>在react中，很多具体的组件的写法，就是通过有通过继承，例如通过组件继承react的具体属性</p>
        </div>
    </div>

    <div>
        <div class="page-header">
            <h3>隐藏的book</h3>
        </div>
        <div style="margin-bottom: 20px">
            <button type="button" class="btn btn-primary" id="myModal">点击查看</button>
        </div>
        <div class="well" id="bookTake" style="display: none"></div>
    </div>
</div>
</body>
<script src="./index.js" type="text/babel"></script>
</html>
